extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Marco Ruggeri

        p.lead.text-light
          | Wannabe JavaScript Developer.

        .portfolio-bio
          p
            | Hello there, this is Marco, i'm studying Full Stack Javascript at an awesome online school called TreeHouse. 
            | In this website you can see my details, my skills, and the projects I have worked on so far.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Node
          li Express
          li Pug
          li npm
          li Git
          li GitHub
          li CLI
        h6 Contact Info

        ul
          li +39 3474530212
          li marco.ruggeri001@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/marco-ruggeri-003b3842/') LinkedIn
        a.button.expanded(href='https://github.com/4high20') GitHub
        a.button.expanded(href='https://twitter.com/MarcoRuggeri_') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
